.hero {
    background-color: white;
    height: 100vh;
    width: 90%;
    margin: auto;
    
}

.hero h1 {
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    color:rgb(43, 41, 41);
}
.hero p {
    margin-top: 1em;
    font-size: .90em;
    text-align: center;
    color: rgb(102, 101, 101);
}
.hero div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
}
.hero div button {
    transition: 1s;
    width: 10em;
    height: 3.3em;
    border-radius: 15px;
    background-color: #e54a45;
    color: white;
    font-weight: 200;
}
.hero div button:hover {
    cursor: pointer;
    transition: 1s;
    width: 11em;
    height: 3.8em;
    background-color: #d44540;;
}