.firstContent {
    width: 40%; 
    position: absolute;
    left: 2em; 
    top:8em;
}
.secondContent{
    width:30%;
    position:absolute;
    right:2em;
    top:30em;
}
.truck1 {
    width: 30%; 
    position: absolute;
    top: 8em;
    right: 2em; 
}
.firstContent p{
    font-size:1em;
}
.secondContent p{
    font-size:1em;
}
.truck2{
    width:40%;
    position:absolute;
    left:2em;
    top:25em;
}

.body1 {
    width: 100%; 
    height: 20em; 
   background-color:gray;
}
.body2{
    background-color:lightcoral;
    width:100%;
    height:30em;
}


