@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
}
nav {
    font-family: 'Roboto Condensed', sans-serif;
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    background-color: rgb(88, 86, 86);
    justify-content: space-between;

 
   
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    
    
}
nav ul li {
    margin-right: 1em;
    list-style-type: none;

}
nav ul li a {
    text-decoration: none;
    color: white;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
   
}
.logo img{
    width: 3em;
    height: 3em;
    margin-right: 1em;
}
.logo h1 {
    font-size: 1.2em;
    color:white;
    font-weight: 100;
}