@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
}
html{scroll-behavior:smooth}
body {
    font-family: 'Roboto', sans-serif;
}
nav {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    justify-content: space-between;
  

 
   
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5%;
    
    
    
}
nav ul li {
    font-size: 1em;
    margin-right: 1em;
    list-style-type: none;

}
nav ul li a {
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;
}



nav img {
    width: 18em;
    height: 4em;
    margin-top: .7em;
    margin-left: 4.5%;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-top: -5em;
    align-items: center;
    justify-content: center;
    background-image: url();
    width: 100%;
    height: 110vh;
    background-image:linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.5) 100%),url('/images/blacktruck.jpeg');
background-size: cover;
color: white;
}

.hero h2 {
  font-size: 2.5em;
  font-weight: 200;
  color: rgb(209, 209, 209);
  


}
.hero a{
    transition: 1s;
    margin-top: 5%;
    display: block;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: 100;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(66, 48, 48, 0.7);
    border-radius: 45px;
    text-decoration: none;
    color: rgb(221, 221, 221);
   
}

.hero a:hover {
    color: white;
    transition: 1s;
    padding: 1.2em 3em;
}
.services {
    transition: 1s;
    
    width: 90%;
    padding: 10vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background-image:linear-gradient(to bottom, rgba(0,0,0,.95) 0%,rgba(0,0,0,.9) 100%),url('https://i.ytimg.com/vi/skpnkHjM2QQ/mqdefault.jpg');
    background-size: cover;
}
.services header {
    color: rgb(255, 255, 255);
    

}


.services header h3, .info header h1 {
    font-weight: 100;
}
.services header h3 {
    margin-bottom: 2em;
    color:rgb(209, 209, 209)

}
.info {
    transition: 1s;
    height: 150vh;
    width: 90%;
    padding: 20vh 5%;
    display: flex;
    flex-direction: column;
   
    
    text-align: center;
    
    background-image:linear-gradient(to bottom, rgba(0,0,0,.9) 0%,rgba(0,0,0,.95) 100%),url('https://i.ytimg.com/vi/skpnkHjM2QQ/mqdefault.jpg');
    background-size: cover;
    
}

.info header {
    color: rgb(255, 255, 255);
    

}


.info header h3, .info header h1 {
    font-weight: 100;
}
.info header h3 {
    margin-bottom: 2em;
    color:rgb(209, 209, 209)

}
.info .boxes div article {
    position: relative;
}
.info .boxes div article div{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    top: 0;
    left: 0;
    width: 98%;
    border-radius: 3%;
    height: 100%;
    font-size: .8em;
    padding: 1%;
}
.boxes div article:hover div {
    visibility: visible;
    opacity: .8;
    
}
/*
1386 media query for the boxes - change height to 100%
*/
.info .boxes {
    width:100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  
   height: 100%;
  
}
.info .boxes > div {
    transition: 1s;
    margin: 3em;
    border-radius: 30px;
    margin-top: 1em;
    
    
}

.info .boxes > div:hover  {
    cursor: pointer;
   
    
}
.info .boxes div {
    border-radius: 5%;
    color: white;
    height: 4.5em;
    width: 20em;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}


.info .boxes div img {
    width: 20em;
    height: 13em;
    border-radius: 3%;

}

.info .boxes div .title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1em;

}
.info span {
    color:rgb(192, 102, 102);
    font-weight: 800;
}
.mid {
    
}

.info .boxes div .title div {
   
  
    margin: auto;
    width: 70%;
    font-weight: 100;
    padding: .5em 0;
    border-radius: 0;
    border-top: 1px solid gray;
    
}

.divi {
    transition: 1s;
    margin-top: 5%;
    display: block;
    cursor: pointer;
    padding: 1em 2em;
    font-weight: 100;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(66, 48, 48, 0.7);
    border-radius: 45px;
    text-decoration: none;
    color: rgb(221, 221, 221);
}

.divi:hover {
    color: white;
    transition: 1s;
    padding: 1.2em 3em;
}

.services div {
    display: flex;
   flex-direction: row;
   
    margin-top: 3em;
    flex-wrap: wrap;
    width: 100%;
   
}

.services div > div {
   
    
}

.services div div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
    width: 30em;
    margin: auto;
    
    
}
.tri {
    transition: 1s;
    
    width: 90%;
    padding: 20vh 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    background-image:linear-gradient(to bottom, rgba(0,0,0,.9) 0%,rgba(0,0,0,.95) 100%),url('https://i.ytimg.com/vi/skpnkHjM2QQ/mqdefault.jpg');
    background-size: cover;
}
.tri div {
    height: 20em;
    border-radius: 30px;
    background-color:rgb(34, 34, 34);
    color:white;
}
.tri header {
    color: rgb(255, 255, 255);
  
    background-color:rgba(114, 114, 114, 0.7);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}
.tri div div section {
    margin-top:.5em;
    height: 20%;
}


.tri header h1 {
    font-weight: 100;
    font-size: 2em;
    padding: 5%;
}


