.firstContent {
    width: 60%; 
   
}
.secondContent{
    width:60%;
    
}
.truck{
    padding:5% 0 5% 0;
}
.truck1 {
    border-radius: 5%;
    width: 90%; 
    padding:5% 0 5% 0;

}
.firstContent p{
    font-size:1em;
}
.secondContent p{
    font-size:1em;
}
.truck2{
    border-radius: 5%;
    width:90%;
}

.body1 {
   justify-content: flex-start;
}
.body2{
   justify-content:flex-end;
    
}
.content section {
    background-color:#e54a45;
    color: white;
    width: 40%;
    height:fit-content;
    padding: 5%;
}
.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
